/* -------------------- */
/* Reset                */
/* -------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

body {
    font-family: GlacialIndifferenceRegular;
    background: #025;
    color: white;
    text-align: center;
}

a {
    color: #00afb9;
    text-decoration: none;
}

a:hover {
    color: #e4b49d;
}

/* -------------------- */
/* Móvil y Tablet       */
/* -------------------- */

.index {
    width: 100%;
    height: 100vh;
    background-image: url('../img/background-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.index p:first-child {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 4rem;
}

.index p:nth-child(2) {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}

.index img {
    height: 9rem;
    margin: 1.2rem 0;
}

.index p:last-child {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.subscription {
    width: 100%;
    height: 100vh;
    background: #130729;
    padding: 1rem 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subscription p {
    font-size: .8rem;
    text-align: left;
}

.subscription p strong {
    font-family: GlacialIndifferenceBold;
}

.subscription p:nth-child(n+3) {
    text-align: center;
}

.subscription p:last-child {
    font-size: 1.5rem;
}

.subscription p img {
    width: 9rem;
    height: auto;
    background: white;
    padding: .5rem;
} 

.subscription p:last-child a {
    text-decoration: underline;
}

.subscription p:last-child {
    font-size: 0.6rem;
    margin-bottom: 3rem;
}

/* Tablet  */

@media (min-width: 580px) {
    .subscription {
        gap: calc(1rem + 1vw);
        padding: calc(1.5rem + 9vw);
        justify-content: center;
    }

    .subscription p {
        font-size: 1rem;
    }

    .subscription p:last-child {
        margin-bottom: 0;
}
}

/* Desktop */

@media (min-width: 1280px) {
    .index {
        background-image: url('../img/book.png');
    }

    .index p:first-child {
	    font-size: 1.5rem;
	    margin-top: 2.5rem;
    }

    .index p:nth-child(2) {
	    font-size: 2.563rem;
    }

    .index img {
        height: 15rem;
    }

    .index p:last-child {
	    font-size: 1.281rem;
    }

    .subscription {
        padding: 4rem calc(5rem + 7vw) 2rem calc(5rem + 7vw);
        justify-content: center;
        gap: calc(.5rem + 1vw);
    }

    .subscription p {
	    font-size: 1.05rem;
    }  

    .subscription p img {
	    width: 11.438rem;
    }

    .subscription p:nth-child(6) {
	    padding: 1rem 0;
    }

    .subscription p:last-child {
	    font-size: 0.813rem;
    }

}

@media (min-width: 1900px) {
    .subscription {
        padding: 4rem 30rem;
    }

        .subscription p {
	    font-size: 1.3rem;
    } 

    .subscription p:last-child {
	    font-size: 1rem;
    }
}

/* Móbil landscape */

@media (orientation: landscape) and (max-width: 1279px) {
    .index {
        background-image: url('../img/book.png');
        background-position: center;
    }

    .subscription {
        width: 100%;
        height: auto;
        padding: calc(0.1px + 14vh) calc(0.1px + 14vh);
    }

    .subscription p {
        font-size: calc(.8rem + .4vw);
        margin-bottom: calc(.8rem + 2vw);
    }

    .index p:first-child {
        margin-top: 0;
    }

    .subscription p img {
        width: calc(7rem + 4vh);
        height: auto;
    } 
}
