/* -------------------- */
/* Fonts                */
/* -------------------- */

@font-face {
    font-family: 'Bree Serif';
    src: url('./media/fonts/BreeSerif-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ultra';
    src: url('./media/fonts/Ultra-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* 400 */
@font-face {
    font-family: 'Lato';
    src: url('./media/fonts/Lato-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('./media/fonts/Lato-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* 700 */
@font-face {
    font-family: 'Lato';
    src: url('./media/fonts/Lato-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('./media/fonts/Lato-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* -------------------- */
/* Variables            */
/* -------------------- */

:root {
    /* Colores en HSL*/
    --clr-dark: 255 92% 14%;
    --clr-light: 211 89% 65%;
    --clr-primario: 226 69% 23%;
    --clr-secundario: 226 74% 43%;
    --clr-black: 0 0% 0%;
    --clr-white: 0 0% 100%;

    /* Font-families */
    --ff-serif: "Bree Serif", serif;
    --ff-serif-pesada: "ultra", serif;
    --ff-sans: "Lato", sans-serif;

    /* Font-sizes */
    --fs-700: 3rem;         /*48px*/ 
    --fs-600: 2.4375rem;    /*39px*/
    --fs-500: 1.9375rem;    /*31px*/
    --fs-400: 1.5625rem;    /*25px*/
    --fs-300: 1.1563rem;    /*18.5px Texto del body*/ 
    --fs-200: 1rem;         /*16px*/
    --fs-100: 0.8125rem;    /*13px*/

    /* Font-weight */
    --fw-negrita: 700;
    --fw-normal: 400;
}

/* -------------------- */
/* Reset                */
/* -------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

pre {
    white-space: pre-line;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Configurar el body */
body {
    font-family: var(--ff-sans);
    font-size: var(--fs-300);
    font-weight: var(--fw-normal);
    color: hsl( var(--clr-dark) );
    line-height: 1.5;
    min-height: 100vh;
}

/* Quita animaciones para las personas que las desactivaron */
@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01 !important;
        scroll-behavior: auto !important;
    }
}

/* -------------------- */
/* Clases de utilidad   */
/* -------------------- */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

/* Margin a partir del segundo elemento */
.flow-1 > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 1rem);
}
.flow-2 > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 2rem);
}
.flow-3 > *:where(:not(:first-child)) {
    margin-top: var(--flow-space, 3rem);
}

.box {
    padding: .5rem;
}

/* Colores para background*/
.bg-dark { background-color: hsl(var(--clr-dark)); }
.bg-light { background-color: hsl(var(--clr-light)); }
.bg-primario { background-color: hsl(var(--clr-primario)); }
.bg-secundario { background-color: hsl(var(--clr-secundario)); }
.bg-black { background-color: hsl(var(--clr-black)); }
.bg-white { background-color: hsl(var(--clr-white)); }

/* Colores para texto*/
.text-dark { color: hsl(var(--clr-dark)); }
.text-light { color: hsl(var(--clr-light)); }
.text-primario { color: hsl(var(--clr-primario)); }
.text-secundario { color: hsl(var(--clr-secundario)); }
.text-black { color: hsl(var(--clr-black)); }
.text-white { color: hsl(var(--clr-white) / 0.8); }

/* Familia de Tipografía */
.ff-serif { font-family: var(--ff-serif); }
.ff-serif-pesada { font-family: var(--ff-serif-pesada); }
.ff-sans { font-family: var(--ff-sans); }

/* Tamaño de tipografía  */
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }
.fs-100 { font-size: var(--fs-100); }


.letter-spacing-1 { letter-spacing: 0.5px; }
.letter-spacing-2 { letter-spacing: 1px; }
.letter-spacing-3 { letter-spacing: 2px; }

.uppercase { text-transform: uppercase; }

.fw-negrita { font-weight: var(--fw-negrita); }

.justify { text-align: justify; }

.fs-700,
.fs-600,
.fs-500,
.fs-400 {
    line-height: 1.1;
}

/* -------------------- */
/* Header               */
/* -------------------- */

.header {
    padding: 1.5rem;
    text-align: center;
    display: grid;
    gap: 1.5rem;
    align-self: center;
    background: linear-gradient(135deg, hsl(var(--clr-dark)) 0%, hsl(var(--clr-primario)) 100%);
}

.header::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    left: -80px;
    top: -80px;
    background: hsl(var(--clr-secundario));
    filter: blur(50px);
    border-radius: 50%;
}

.header .logo {
    width: 110px;
    margin: 0 auto;
}

.titulos h1 {
    font-size: var(--fs-400);
}

.titulos h2 {
    font-size: var(--fs-300);
}

@media (min-width: 744px) {

    .header .logo {
        width: 120px;
    }

    .titulos h1 {
        font-size: var(--fs-500);
    }

    .titulos h2 {
        font-size: var(--fs-400);
    } 
}

/* -------------------- */
/* Navegación Primaria  */
/* -------------------- */

.nav-primaria {
    padding: .5rem;
    z-index: 1;
}

.nav-primaria ul {
    flex-wrap: wrap;
    justify-content: center;
}

.nav-primaria ul li {
    list-style: none;
    margin: 1rem 0rem;
}

.nav-primaria ul li a {
    text-decoration: none;
    padding: 1rem;
    border: 1px solid hsl(var(--clr-dark));
}

.nav-primaria ul .active a {
    background-color: hsl(var(--clr-primario));
    color: hsl(var(--clr-white) / 0.8);
    border: 1px solid transparent;
    border-image: linear-gradient(to right, hsl(var(--clr-secundario)), hsl(var(--clr-light))) 1;
}

.nav-primaria ul li a:hover, 
.nav-primaria ul li a:active {
    border: 1px solid hsl(var(--clr-light));
    color: hsl(var(--clr-light));
}

@media (min-width: 744px) {
    .nav-primaria {
        position: sticky;
        top: 0px;
    } 
    
    .nav-primaria ul li a {
        padding: 1rem 0.5rem;
    }
}

@media (min-width: 1280px) {
    .nav-primaria ul {
        justify-content: left;
        margin-left: 290px;
    }
}

/* -------------------- */
/* Wrapper              */
/* -------------------- */

.main {
    padding: 1.2rem;
}

@media (min-width: 744px) {
    .wrapper {
        display: flex;
    }

    .main {
        width: 85%;
        padding: 2.5rem;
    }
}

/* -------------------- */
/* Details              */
/* -------------------- */

details[open] {
    display: none;
}

@media (min-width: 744px) {

    details[open] {
        display: grid;
        overflow-y: scroll;
        width: 290px;
        height: 100vh;
        background-color: hsl(var(--clr-black) / 0.1);
        position: sticky;
        top: 76px;
    }

    details > summary { 
        transition: color 1s; 
        color: hsl( var(--clr-dark)); 
        padding: 1rem;
        width: 105px;
        position: sticky;
        top: 76px;
    }

    details[open] > summary { 
        color: hsl(var(--clr-primario));
        width: 105px;
        position: sticky;
        top: 0px;
    }

    details > ul li {
        list-style: none;
        padding: 1rem;
        border-bottom: 1px solid hsl(var(--clr-white) / 0.8);
    }

    details > ul li:hover {
        background-color: hsl(var(--clr-light) / 0.2);
        color: hsl(var(--clr-dark));
    }

    details ul li a {
        text-decoration: none;
        padding: 1rem 0;
    }
}

@media (min-width: 1280px) {

    details > summary { 
        display: none;
    }
}

/* -------------------- */
/* Iconos               */
/* -------------------- */

.iconos {
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
}

.icon {
    width: 105px;
    text-align: center;
    justify-items: center;
    gap: .3rem;
}

.icon img {
    width: 65px;
    height: auto;
}

@media (min-width: 1280px) {
    .icon {
        height: 1rem;
        gap: 0rem;
    }
}

/* -------------------- */
/* Links                */
/* -------------------- */

.link {
    text-decoration: none;
    padding-bottom: var(--underline-gap, 2rem) 1;
    padding-inline: .2rem;
    border: 0;
    border-bottom: 0.12rem solid hsl(var(--clr-secundario));
}

.link:hover,
.link:focus {
    color: hsl(var(--clr-black));
    background-color: hsl(var(--clr-light) / 0.5);
    border-bottom: 0.12rem solid hsl(var(--clr-primario));
}

/* -------------------- */
/*  Grid 2 columnas          */
/* -------------------- */

@media (min-width: 1280px) {

    .primer-columna {
        grid-area: primer-columna;
    }

    .segunda-columna {
        grid-area: segunda-columna;
    }

    .dos-columnas {
        display: grid;
        gap: 3rem;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "primer-columna segunda-columna";
    }
}


/* -------------------- */
/*  Footer              */
/* -------------------- */

footer {
    background: url("../media/img/overlay.png");
    background-color: hsl(var(--clr-primario));
}

.wrapper-derechos {
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.wrapper-derechos p {
    text-align: center;
}

.wrapper-derechos a {
    text-decoration: none;
    margin: 0 0.1rem;
}

.address-footer {
    flex-direction: column;
    align-items: center;
}

.address-footer address {
    font-style: normal;
    text-align: center;
}

.address-footer address p {
    text-align: center;
}

.address-footer img {
    width: 80px;
    height: auto;
}

.wrapper-registro {
    padding: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

@media (min-width: 744px) {

    .wrapper-derechos {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 2rem 1rem 2rem 1rem;
    }

    .wrapper-derechos p {
        text-align: left;
    }

    .reserved {
        display: flex;
        flex-direction: column;
    }

    .address-footer {
        flex-direction:row;
    }

    .address-footer address {
        text-align: right;
    }
                    
    .address-footer address p {
        text-align: right;
    }
}